In [135]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 19년도

In [136]:
df = pd.read_csv('./data/p19v31_KMP_csv.csv', encoding='CP949')

feature = ['pid', 'p19age', 'p19gender', 'p19school', 'p19mar', 'p19job1', 'p19job2', 'p19job4', 'p19income', 'p19relig2', 'p19d27001', 'p19d27002', 'p19d27003', 'p19d27004', 'p19d11002', 'p19d11004', 'p19d11006']

df_19 = df[feature].copy()

df_19.rename(
    columns={
        'p19age': 'age', 
        'p19gender': 'gender', 
        'p19school': 'school', 
        'p19mar': 'mar', 
        'p19job1': 'job', 
        'p19job2': 'job_o',
        'p19job4': 'job_x',
        'p19income': 'income', 
        'p19relig2': 'relig',
        'p19d27001': 'd01', 
        'p19d27002': 'd02', 
        'p19d27003': 'd03', 
        'p19d27004': 'd04',
        'p19d11002': 'label_1',
        'p19d11004': 'label_2', 
        'p19d11006': 'label_3'
    }, inplace=True
)

df_19['year'] = 2019

df_19.head()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_30516\4244534107.py:1: DtypeWarning: Columns (4,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/p19v31_KMP_csv.csv', encoding='CP949')

,pid,age,gender,school,mar,job,job_o,job_x,income,relig,d01,d02,d03,d04,label_1,label_2,label_3,year
0,10001,6,1,5,2,1,2,,7,,4,7,7,7,15,2,23,2019
1,10002,5,2,5,2,2,,2,1,,6,6,6,6,15,2,1,2019
2,20001,6,1,5,2,1,1,,7,,6,7,7,7,16,23,,2019
3,30001,5,1,5,2,1,1,,6,,,,,,,,,2019
4,30002,5,2,4,2,2,,2,1,,,,,,,,,2019

In [137]:
df_19['label_2']

0         2
1         2
2        23
3
4
         ..
10859
10860
10861
10862
10863
Name: label_2, Length: 10864, dtype: object

In [138]:
df_19['label'] = (df_19[['label_1', 'label_2', 'label_3']].isin(['2']).any(axis=1).astype(int))
print(sum(df_19['label'] == 1), sum(df_19['label'] == 0))

2518 8346

In [139]:
df_19 = df_19.drop(['label_1', 'label_2', 'label_3'], axis=1)
df_19

,pid,age,gender,school,mar,job,job_o,job_x,income,relig,d01,d02,d03,d04,year,label
0,10001,6,1,5,2,1,2,,7,,4,7,7,7,2019,1
1,10002,5,2,5,2,2,,2,1,,6,6,6,6,2019,1
2,20001,6,1,5,2,1,1,,7,,6,7,7,7,2019,0
3,30001,5,1,5,2,1,1,,6,,,,,,2019,0
4,30002,5,2,4,2,2,,2,1,,,,,,2019,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10859,118290002,4,1,5,2,1,1,,5,,,,,,2019,0
10860,118300001,3,1,4,1,1,1,,4,1,2,9,9,8,2019,1
10861,118310001,8,2,2,3,2,,2,1,,,,,,2019,0
10862,118320001,8,2,2,3,2,,2,1,1,,,,,2019,0
10863,118330001,8,2,2,3,1,1,,2,3,,,,,2019,0

### 24년도

In [140]:
df = pd.read_csv('./data/p24v31_KMP_csv.csv', encoding='CP949')

feature = ['pid', 'p24age', 'p24gender', 'p24school', 'p24mar', 'p24job1', 'p24job2', 'p24job4', 'p24income', 'p24relig2', 'p24d27001', 'p24d27002', 'p24d27003', 'p24d27004', 'p24d11002', 'p24d11004', 'p24d11006']

df_24 = df[feature].copy()

df_24.rename(
    columns={
        'p24age': 'age', 
        'p24gender': 'gender', 
        'p24school': 'school', 
        'p24mar': 'mar', 
        'p24job1': 'job', 
        'p24job2': 'job_o',   # 유직자 컬럼
        'p24job4': 'job_x',   # 무직자 컬럼
        'p24income': 'income', 
        'p24relig2': 'relig',   # 종교 컬럼
        'p24d27001': 'd01', 
        'p24d27002': 'd02', 
        'p24d27003': 'd03', 
        'p24d27004': 'd04',
        'p24d11002': 'label_1',
        'p24d11004': 'label_2', 
        'p24d11006': 'label_3'
    }, inplace=True
)

df_24['year'] = 2024

df_24.head()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_30516\253426872.py:1: DtypeWarning: Columns (5,8,9,295,296,297,298,299,300,371,372,373,374) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/p24v31_KMP_csv.csv', encoding='CP949')

,pid,age,gender,school,mar,job,job_o,job_x,income,relig,d01,d02,d03,d04,label_1,label_2,label_3,year
0,10002,6,2,5,2,2,,2,1,,11,5,4,5,16,15,2,2024
1,10003,3,2,5,1,1,1,,5,,11,4,12,3,15,16,2,2024
2,10004,3,1,5,1,1,1,,5,,3,4,3,4,2,1,15,2024
3,20001,6,1,5,1,1,1,,5,2,11,3,12,4,2,1,15,2024
4,20003,4,1,5,1,1,1,,5,,11,4,3,5,2,15,16,2024

In [141]:
df_24['label'] = (df_24[['label_1', 'label_2', 'label_3']].isin(['2']).any(axis=1).astype(int))
print(sum(df_24['label'] == 1), sum(df_24['label'] == 0))

1711 6982

In [142]:
df_24 = df_24.drop(['label_1', 'label_2', 'label_3'], axis=1)
df_24

,pid,age,gender,school,mar,job,job_o,job_x,income,relig,d01,d02,d03,d04,year,label
0,10002,6,2,5,2,2,,2,1,,11,5,4,5,2024,1
1,10003,3,2,5,1,1,1,,5,,11,4,12,3,2024,1
2,10004,3,1,5,1,1,1,,5,,3,4,3,4,2024,1
3,20001,6,1,5,1,1,1,,5,2,11,3,12,4,2024,1
4,20003,4,1,5,1,1,1,,5,,11,4,3,5,2024,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,118300001,3,1,4,1,1,1,,5,,3,9,9,9,2024,1
8689,118300002,6,2,3,3,2,,2,1,1,,,,,2024,0
8690,118310001,8,2,2,3,2,,2,2,,,,,,2024,0
8691,118320001,8,2,2,3,2,,2,3,1,,,,,2024,0
8692,118330001,8,2,2,3,2,,2,3,3,,,,,2024,0

# 데이터 합치기

In [143]:
df_all = pd.concat([df_19, df_24], ignore_index=True)
df_all

,pid,age,gender,school,mar,job,job_o,job_x,income,relig,d01,d02,d03,d04,year,label
0,10001,6,1,5,2,1,2,,7,,4,7,7,7,2019,1
1,10002,5,2,5,2,2,,2,1,,6,6,6,6,2019,1
2,20001,6,1,5,2,1,1,,7,,6,7,7,7,2019,0
3,30001,5,1,5,2,1,1,,6,,,,,,2019,0
4,30002,5,2,4,2,2,,2,1,,,,,,2019,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19552,118300001,3,1,4,1,1,1,,5,,3,9,9,9,2024,1
19553,118300002,6,2,3,3,2,,2,1,1,,,,,2024,0
19554,118310001,8,2,2,3,2,,2,2,,,,,,2024,0
19555,118320001,8,2,2,3,2,,2,3,1,,,,,2024,0
19556,118330001,8,2,2,3,2,,2,3,3,,,,,2024,0

In [144]:
# 유직자 번호 변경
df_all['job_o'] = df_all['job_o'].astype(str).replace({
    '1': '5',
    '2': '6',
    '3': '7',
    '4': '2',
    '9999': '8'
})
#df_all['job_o'] = df_all['job_o'].replace({'1': '5', '2': '6', '3': '7', '4': '2', '9999': '8'})
print(df_all['job_o'].value_counts())

job_o
     8467
5    8259
7    2002
2     480
6     349
Name: count, dtype: int64

In [145]:
# 유,무직 합친 컬럼을 job으로 넣기
df_all.loc[df_all['job_x'].str.strip() == '', 'job_x'] = df_all['job_o']

df_all.drop(['job', 'job_o'], axis=1, inplace=True)
df_all.rename(columns={'job_x': 'job'}, inplace=True)

In [146]:
df_all['job'].unique()

array(['6', '2', '5', '1', '7', '4', '3'], dtype=object)

### 결측치 제거

In [147]:
# 2. 각 pid 그룹 내에서 다음 연도의 label 값을 가져옵니다.
# df_all['next_year_label'] = df_all.groupby('pid')['label'].shift(-1)
# df_all
# label 결측치 제거
mask = df_all['label'].isna() | (df_all['label'].astype(str).str.strip() == '')
df_all = df_all.loc[~mask]

In [148]:
# label의 다음 연도 값
df_all['next_year_label'] = df_all.groupby('pid')['label'].shift(-1)
df_all

,pid,age,gender,school,mar,job,income,relig,d01,d02,d03,d04,year,label,next_year_label
0,10001,6,1,5,2,6,7,,4,7,7,7,2019,1,NaN
1,10002,5,2,5,2,2,1,,6,6,6,6,2019,1,1.0
2,20001,6,1,5,2,5,7,,6,7,7,7,2019,0,1.0
3,30001,5,1,5,2,5,6,,,,,,2019,0,0.0
4,30002,5,2,4,2,2,1,,,,,,2019,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19552,118300001,3,1,4,1,5,5,,3,9,9,9,2024,1,NaN
19553,118300002,6,2,3,3,2,1,1,,,,,2024,0,NaN
19554,118310001,8,2,2,3,2,2,,,,,,2024,0,NaN
19555,118320001,8,2,2,3,2,3,1,,,,,2024,0,NaN
19556,118330001,8,2,2,3,2,3,3,,,,,2024,0,NaN

In [149]:
# next_year_label 결측치 제거
mask = df_all['next_year_label'].isna() | (df_all['next_year_label'].astype(str).str.strip() == '')
df_all = df_all.loc[~mask]

In [150]:
df_all.isnull().sum()

pid                0
age                0
gender             0
school             0
mar                0
job                0
income             0
relig              0
d01                0
d02                0
d03                0
d04                0
year               0
label              0
next_year_label    0
dtype: int64

In [151]:
print(df_all[['label', 'next_year_label']].dtypes)
print(df_all['label'].unique()[:10])
print(df_all['next_year_label'].unique()[:10])

label                int64
next_year_label    float64
dtype: object
[1 0]
[1. 0.]

In [152]:
df_all['label'] = pd.to_numeric(df_all['label'], errors='coerce').astype(int)
df_all['next_year_label'] = pd.to_numeric(df_all['next_year_label'], errors='coerce').astype(int)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_30516\390249458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['label'] = pd.to_numeric(df_all['label'], errors='coerce').astype(int)
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_30516\390249458.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['next_year_label'] = pd.to_numeric(df_all['next_year_label'], errors='coerce').astype(int)

In [153]:
# 3. 이탈(churn) 여부를 정의합니다.
# 조건 1: 현재 레이블이 2이고 (df_all['label'] == 2)
# 조건 2: 다음 해의 레이블이 존재하며 2가 아닌 경우 (df_all['next_year_label'].notna() & (df_all['next_year_label'] != 2)) 
# label = 1 이면 페이스북 유저
# 위 두 조건을 만족하면 이탈(1), 아니면 비이탈(0)로 정의합니다.
churn_conditions = [
    (df_all['label'] == 1) & (df_all['next_year_label'].notna()) & (df_all['next_year_label'] != 1),
    (df_all['label'] == 1) & (df_all['next_year_label'].notna()) & (df_all['next_year_label'] == 1)
]
churn_choices = [1, 0] # 1: 이탈 (Churn), 0: 비이탈 (Not Churn)

df_all['churn'] = np.select(churn_conditions, churn_choices, default=np.nan)

print(df_all.head())
print(df_all['churn'].value_counts(dropna=False))

     pid  age  gender  school  mar job  income relig d01 d02 d03 d04  year  \
1  10002    5       2       5    2   2       1         6   6   6   6  2019
2  20001    6       1       5    2   5       7         6   7   7   7  2019
3  30001    5       1       5    2   5       6                        2019
4  30002    5       2       4    2   2       1                        2019
5  30003    2       1       4    1   1       1                        2019

   label  next_year_label  churn
1      1                1    0.0
2      0                1    NaN
3      0                0    NaN
4      0                1    NaN
5      0                0    NaN
churn
NaN    6433
1.0    1056
0.0     656
Name: count, dtype: int64

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_30516\1056345883.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['churn'] = np.select(churn_conditions, churn_choices, default=np.nan)

In [154]:
# 4. 분석에 사용할 데이터셋을 생성합니다.
# 'churn' 값이 NaN이 아닌 경우, 즉 현재 label이 2인 고객들의 데이터만 필터링합니다.
# 이 데이터셋이 EDA와 모델링의 기반이 됩니다.
df_model_base = df_all[df_all['churn'].notna()].copy()

# # 불필요해진 'next_year_label' 컬럼 삭제
# df_model_base.drop(columns=['next_year_label'], inplace=True)

# df_model_base['churn'] = df_model_base['churn'].astype(int)

# df_model_base = df_final[df_final['churn'].notna()].copy()

# 불필요해진 'next_year_label' 컬럼 삭제
# df_model_base.drop(columns=['next_year_label'], inplace=True)
# df_model_base['churn'] = df_model_base['churn'].astype(int)

df_model_base.drop(columns=['next_year_label'], inplace=True, errors='ignore')
df_model_base['churn'] = df_model_base['churn'].astype(int)
print(df_model_base.isnull().sum())

pid       0
age       0
gender    0
school    0
mar       0
job       0
income    0
relig     0
d01       0
d02       0
d03       0
d04       0
year      0
label     0
churn     0
dtype: int64

In [155]:
mapping = {
    '1': 11,  # 하루에도 여러 번 → 빈도 가장 높음
    '2': 10,  # 하루 1번(매일)
    '3': 9,   # 하루 5회 이상
    '4': 8,  # 하루 3~4회
    '5': 7,  # 하루 1~2회
    '6': 6,   # 1주일에 5~6회
    '7': 5,   # 1주일에 3~4회
    '8': 4,   # 1주일에 1~2회 정도
    '9': 3,   # 월 1~3회
    '10': 2,   # 월 1회 미만
    '11': 1    # 분기/연간 1회 정도 → 빈도 가장 낮음
}

df_model_base['d01'] = df_model_base['d01'].map(mapping).fillna(0).astype(int)
df_model_base['d02'] = df_model_base['d02'].map(mapping).fillna(0).astype(int)
df_model_base['d03'] = df_model_base['d03'].map(mapping).fillna(0).astype(int)
df_model_base['d04'] = df_model_base['d04'].map(mapping).fillna(0).astype(int)

df_model_base['relig'] = df_model_base['relig'].apply(lambda x: 0 if str(x).strip() == '' else x)

In [156]:
df_model_base

,pid,age,gender,school,mar,job,income,relig,d01,d02,d03,d04,year,label,churn
1,10002,5,2,5,2,2,1,0,6,6,6,6,2019,1,0
20,100001,5,1,5,2,5,6,3,4,4,4,4,2019,1,0
21,100002,5,2,6,2,5,6,3,11,3,3,8,2019,1,0
23,120001,6,1,4,2,5,5,2,6,6,6,6,2019,1,1
46,300002,3,2,5,1,5,4,0,8,8,8,8,2019,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10824,118140002,4,2,5,2,2,1,1,11,8,8,8,2019,1,0
10847,118240001,5,1,5,2,5,7,0,4,4,4,4,2019,1,1
10849,118240003,3,2,5,1,1,1,0,10,3,3,7,2019,1,1
10851,118240005,2,2,3,1,1,1,0,8,3,3,7,2019,1,1
10860,118300001,3,1,4,1,5,4,1,10,3,3,4,2019,1,0

In [157]:
print("이탈 예측을 위한 기본 데이터셋:")
print(df_model_base.head())
print("\n전체 이탈율:")
print(df_model_base['churn'].value_counts(normalize=True))

이탈 예측을 위한 기본 데이터셋:
       pid  age  gender  school  mar job  income relig  d01  d02  d03  d04  \
1    10002    5       2       5    2   2       1     0    6    6    6    6
20  100001    5       1       5    2   5       6     3    4    4    4    4
21  100002    5       2       6    2   5       6     3   11    3    3    8
23  120001    6       1       4    2   5       5     2    6    6    6    6
46  300002    3       2       5    1   5       4     0    8    8    8    8

    year  label  churn
1   2019      1      0
20  2019      1      0
21  2019      1      0
23  2019      1      1
46  2019      1      0

전체 이탈율:
churn
1    0.616822
0    0.383178
Name: proportion, dtype: float64

In [158]:
df_model_base.shape

(1712, 15)

In [159]:
df_model_base.head()

,pid,age,gender,school,mar,job,income,relig,d01,d02,d03,d04,year,label,churn
1,10002,5,2,5,2,2,1,0,6,6,6,6,2019,1,0
20,100001,5,1,5,2,5,6,3,4,4,4,4,2019,1,0
21,100002,5,2,6,2,5,6,3,11,3,3,8,2019,1,0
23,120001,6,1,4,2,5,5,2,6,6,6,6,2019,1,1
46,300002,3,2,5,1,5,4,0,8,8,8,8,2019,1,0

In [160]:
df_model_base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1712 entries, 1 to 10860
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     1712 non-null   int64
 1   age     1712 non-null   int64
 2   gender  1712 non-null   int64
 3   school  1712 non-null   int64
 4   mar     1712 non-null   int64
 5   job     1712 non-null   object
 6   income  1712 non-null   int64
 7   relig   1712 non-null   object
 8   d01     1712 non-null   int64
 9   d02     1712 non-null   int64
 10  d03     1712 non-null   int64
 11  d04     1712 non-null   int64
 12  year    1712 non-null   int64
 13  label   1712 non-null   int64
 14  churn   1712 non-null   int64
dtypes: int64(13), object(2)
memory usage: 214.0+ KB

In [161]:
df_model_base['pid']

1            10002
20          100001
21          100002
23          120001
46          300002
           ...
10824    118140002
10847    118240001
10849    118240003
10851    118240005
10860    118300001
Name: pid, Length: 1712, dtype: int64

### 24년도 병합

In [162]:
df_24['job_o'] = df_24['job_o'].astype(str).replace({
    '1': '5',
    '2': '6',
    '3': '7',
    '4': '2',
    '9999': '8'
})

df_24.loc[df_24['job_x'].str.strip() == '', 'job_x'] = df_24['job_o']

df_24.drop(['job', 'job_o'], axis=1, inplace=True)
df_24.rename(columns={'job_x': 'job'}, inplace=True)

df_24['job'].unique()

mask = df_24['label'].isna() | (df_24['label'].astype(str).str.strip() == '')
df_24 = df_24.loc[~mask]
df_24['relig'] = df_24['relig'].replace(' ', 0)
df_24.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pid     8693 non-null   int64
 1   age     8693 non-null   int64
 2   gender  8693 non-null   int64
 3   school  8693 non-null   int64
 4   mar     8693 non-null   int64
 5   job     8693 non-null   object
 6   income  8693 non-null   int64
 7   relig   8693 non-null   object
 8   d01     8693 non-null   object
 9   d02     8693 non-null   object
 10  d03     8693 non-null   object
 11  d04     8693 non-null   object
 12  year    8693 non-null   int64
 13  label   8693 non-null   int64
dtypes: int64(8), object(6)
memory usage: 1018.7+ KB

In [163]:
df_final = pd.merge(df_model_base, df_24, on='pid', how='left')
df_final.columns

Index(['pid', 'age_x', 'gender_x', 'school_x', 'mar_x', 'job_x', 'income_x',
       'relig_x', 'd01_x', 'd02_x', 'd03_x', 'd04_x', 'year_x', 'label_x',
       'churn', 'age_y', 'gender_y', 'school_y', 'mar_y', 'job_y', 'income_y',
       'relig_y', 'd01_y', 'd02_y', 'd03_y', 'd04_y', 'year_y', 'label_y'],
      dtype='object')

In [164]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1712 entries, 0 to 1711
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pid       1712 non-null   int64
 1   age_x     1712 non-null   int64
 2   gender_x  1712 non-null   int64
 3   school_x  1712 non-null   int64
 4   mar_x     1712 non-null   int64
 5   job_x     1712 non-null   object
 6   income_x  1712 non-null   int64
 7   relig_x   1712 non-null   object
 8   d01_x     1712 non-null   int64
 9   d02_x     1712 non-null   int64
 10  d03_x     1712 non-null   int64
 11  d04_x     1712 non-null   int64
 12  year_x    1712 non-null   int64
 13  label_x   1712 non-null   int64
 14  churn     1712 non-null   int64
 15  age_y     1712 non-null   int64
 16  gender_y  1712 non-null   int64
 17  school_y  1712 non-null   int64
 18  mar_y     1712 non-null   int64
 19  job_y     1712 non-null   object
 20  income_y  1712 non-null   int64
 21  relig_y   1712 non-null   object
 22  d01_y     1712 non-null   object
 23  d02_y     1712 non-null   object
 24  d03_y     1712 non-null   object
 25  d04_y     1712 non-null   object
 26  year_y    1712 non-null   int64
 27  label_y   1712 non-null   int64
dtypes: int64(20), object(8)
memory usage: 374.6+ KB

In [165]:
df_final.columns

Index(['pid', 'age_x', 'gender_x', 'school_x', 'mar_x', 'job_x', 'income_x',
       'relig_x', 'd01_x', 'd02_x', 'd03_x', 'd04_x', 'year_x', 'label_x',
       'churn', 'age_y', 'gender_y', 'school_y', 'mar_y', 'job_y', 'income_y',
       'relig_y', 'd01_y', 'd02_y', 'd03_y', 'd04_y', 'year_y', 'label_y'],
      dtype='object')

In [166]:
num_cols_y = ['d01_y', 'd02_y', 'd03_y', 'd04_y', 'income_y']
for col in num_cols_y:
    df_final[col] = pd.to_numeric(df_final[col], errors='coerce')

df_final[num_cols_y] = df_final[num_cols_y].fillna(0)    

import numpy as np

# 결측값 처리: 1~3 사이 정수 랜덤 채움
for col in num_cols_y:
    mask = df_final[col].isna()
    df_final.loc[mask, col] = np.random.randint(1, 4, size=mask.sum())

In [167]:
df_final.isnull().sum()

pid         0
age_x       0
gender_x    0
school_x    0
mar_x       0
job_x       0
income_x    0
relig_x     0
d01_x       0
d02_x       0
d03_x       0
d04_x       0
year_x      0
label_x     0
churn       0
age_y       0
gender_y    0
school_y    0
mar_y       0
job_y       0
income_y    0
relig_y     0
d01_y       0
d02_y       0
d03_y       0
d04_y       0
year_y      0
label_y     0
dtype: int64

In [168]:
df_final.corr()

,pid,age_x,gender_x,school_x,mar_x,job_x,income_x,relig_x,d01_x,d02_x,...,mar_y,job_y,income_y,relig_y,d01_y,d02_y,d03_y,d04_y,year_y,label_y
pid,1.000000,-0.000966,-0.018128,0.057577,0.085711,0.055255,0.084054,-0.051778,-0.060455,-0.104801,...,0.079757,0.071573,0.063564,-0.086784,0.004260,0.030685,0.030414,-0.030994,NaN,-0.009344
age_x,-0.000966,1.000000,-0.062511,0.233912,0.718117,0.576973,0.530763,0.088587,-0.210740,-0.133285,...,0.720418,0.362320,0.354675,0.060731,-0.192654,-0.086022,-0.118077,-0.117900,NaN,-0.054540
gender_x,-0.018128,-0.062511,1.000000,-0.110250,0.033875,-0.188283,-0.299476,0.044907,0.042883,0.061280,...,0.022589,-0.212794,-0.324702,0.033411,0.032113,0.013633,0.026854,0.005734,NaN,-0.040337
school_x,0.057577,0.233912,-0.110250,1.000000,0.097845,0.308019,0.335474,0.021979,-0.027764,-0.016811,...,0.112449,0.440418,0.449095,0.014565,-0.019038,0.002449,-0.025315,-0.042768,NaN,0.042526
mar_x,0.085711,0.718117,0.033875,0.097845,1.000000,0.388257,0.376489,0.091745,-0.168081,-0.122935,...,0.898669,0.172218,0.192656,0.071028,-0.165021,-0.062521,-0.085540,-0.092650,NaN,-0.044821
job_x,0.055255,0.576973,-0.188283,0.308019,0.388257,1.000000,0.842170,0.013795,-0.119224,-0.080391,...,0.402077,0.620078,0.605293,-0.025504,-0.069391,-0.032330,-0.055012,-0.036414,NaN,-0.004321
income_x,0.084054,0.530763,-0.299476,0.335474,0.376489,0.842170,1.000000,0.031343,-0.144712,-0.091867,...,0.394927,0.556646,0.665828,-0.016491,-0.109726,-0.035955,-0.056439,-0.057278,NaN,0.009317
relig_x,-0.051778,0.088587,0.044907,0.021979,0.091745,0.013795,0.031343,1.000000,-0.019721,-0.036725,...,0.097315,-0.001253,0.019172,0.268130,-0.025012,-0.021267,0.002532,-0.010692,NaN,0.049229
d01_x,-0.060455,-0.210740,0.042883,-0.027764,-0.168081,-0.119224,-0.144712,-0.019721,1.000000,0.479988,...,-0.177671,-0.049852,-0.069864,0.017087,0.246503,0.098934,0.123404,0.209354,NaN,0.034192
d02_x,-0.104801,-0.133285,0.061280,-0.016811,-0.122935,-0.080391,-0.091867,-0.036725,0.479988,1.000000,...,-0.134680,-0.015999,-0.042109,-0.019399,0.211790,0.116500,0.105355,0.174435,NaN,0.092148
d03_x,-0.107011,-0.122944,0.050190,-0.018124,-0.134229,-0.052812,-0.056020,-0.032144,0.439303,0.811546,...,-0.140022,0.012487,-0.029241,-0.006464,0.212184,0.125273,0.108673,0.174677,NaN,0.094598
d04_x,-0.049251,-0.206291,0.064883,-0.043758,-0.170102,-0.125797,-0.122839,0.016961,0.631995,0.667875,...,-0.177510,-0.039214,-0.077440,0.000185,0.278210,0.097047,0.109236,0.217118,NaN,0.103128
year_x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
label_x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
churn,0.009344,0.054540,0.040337,-0.042526,0.044821,0.004321,-0.009317,-0.049229,-0.034192,-0.092148,...,0.034912,-0.059465,-0.044224,-0.028534,-0.189724,-0.192657,-0.217182,-0.199068,NaN,-1.000000
age_y,-0.017865,0.934925,-0.074170,0.228684,0.712833,0.585982,0.533156,0.085294,-0.208531,-0.133587,...,0.714239,0.345760,0.337017,0.065649,-0.181985,-0.104067,-0.130447,-0.114660,NaN,-0.059857
gender_y,-0.018128,-0.062511,1.000000,-0.110250,0.033875,-0.188283,-0.299476,0.044907,0.042883,0.061280,...,0.022589,-0.212794,-0.324702,0.033411,0.032113,0.013633,0.026854,0.005734,NaN,-0.040337
school_y,0.036779,-0.191609,-0.074697,0.646637,-0.159952,-0.059677,0.058054,0.024095,0.068546,0.018158,...,-0.172609,0.039281,0.174173,0.026895,0.070531,0.055962,0.039106,0.011112,NaN,0.033934
mar_y,0.079757,0.720418,0.022589,0.112449,0.898669,0.402077,0.394927,0.097315,-0.177671,-0.134680,...,1.000000,0.195022,0.216587,0.062370,-0.160037,-0.050638,-0.076119,-0.073823,NaN,-0.034912
job_y,0.071573,0.362320,-0.212794,0.440418,0.172218,0.620078,0.556646,-0.001253,-0.049852,-0.015999,...,0.195022,1.000000,0.801725,-0.037280,0.022481,0.009552,0.001593,0.007889,NaN,0.059465
income_y,0.063564,0.354675,-0.324702,0.449095,0.192656,0.605293,0.665828,0.019172,-0.069864,-0.042109,...,0.216587,0.801725,1.000000,-0.017381,-0.025368,-0.015190,-0.024420,-0.037657,NaN,0.044224
relig_y,-0.086784,0.060731,0.033411,0.014565,0.071028,-0.025504,-0.016491,0.268130,0.017087,-0.019399,...,0.062370,-0.037280,-0.017381,1.000000,-0.056022,-0.068012,-0.037724,-0.037893,NaN,0.028534
d01_y,0.004260,-0.192654,0.032113,-0.019038,-0.165021,-0.069391,-0.109726,-0.025012,0.246503,0.211790,...,-0.160037,0.022481,-0.025368,-0.056022,1.000000,0.533539,0.518479,0.619454,NaN,0.189724
d02_y,0.030685,-0.086022,0.013633,0.002449,-0.062521,-0.032330,-0.035955,-0.021267,0.098934,0.116500,...,-0.050638,0.009552,-0.015190,-0.068012,0.533539,1.000000,0.822490,0.668818,NaN,0.192657
d03_y,0.030414,-0.118077,0.026854,-0.025315,-0.085540,-0.055012,-0.056439,0.002532,0.123404,0.105355,...,-0.076119,0.001593,-0.024420,-0.037724,0.518479,0.822490,1.000000,0.712534,NaN,0.217182
d04_y,-0.030994,-0.117900,0.005734,-0.042768,-0.092650,-0.036414,-0.057278,-0.010692,0.209354,0.174435,...,-0.073823,0.007889,-0.037657,-0.037893,0.619454,0.668818,0.712534,1.000000,NaN,0.199068
year_y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
label_y,-0.009344,-0.054540,-0.040337,0.042526,-0.044821,-0.004321,0.009317,0.049229,0.034192,0.092148,...,-0.034912,0.059465,0.044224,0.028534,0.189724,0.192657,0.217182,0.199068,NaN,1.000000

In [169]:
df_final = df_final.drop(['gender_x', 'year_x', 'year_y', 'label_x', 'label_y'], axis=1)

In [170]:
df_final.corr()

import numpy as np
import pandas as pd

target = "churn"
dfc = df_final.copy()

# 1) 공백/빈문자 → NaN
dfc = dfc.replace(r'^\s*$', np.nan, regex=True)

# 2) 타깃 y 숫자화(문자면 factorize: 이진이면 point-biserial과 동일)
y = dfc[target]
if not np.issubdtype(y.dtype, np.number):
    y = pd.Series(pd.factorize(y)[0], index=dfc.index)
else:
    y = pd.to_numeric(y, errors='coerce')

# 3) 설명변수 X 숫자화
X = dfc.drop(columns=[target]).apply(pd.to_numeric, errors='coerce')

# 4) 컬럼별 상관계수(타깃 기준 하나만)
corr = X.corrwith(y).dropna().sort_values(ascending=False)

print(corr)                 # 타깃과의 상관계수(내림차순)
print(corr.abs().sort_values(ascending=False).head(10))  # 절댓값 기준 Top-10

age_y       0.059857
age_x       0.054540
mar_x       0.044821
gender_y    0.040337
mar_y       0.034912
pid         0.009344
job_x       0.004321
income_x   -0.009317
relig_y    -0.028534
school_y   -0.033934
d01_x      -0.034192
school_x   -0.042526
income_y   -0.044224
relig_x    -0.049229
job_y      -0.059465
d02_x      -0.092148
d03_x      -0.094598
d04_x      -0.103128
d01_y      -0.189724
d02_y      -0.192657
d04_y      -0.199068
d03_y      -0.217182
dtype: float64
d03_y    0.217182
d04_y    0.199068
d02_y    0.192657
d01_y    0.189724
d04_x    0.103128
d03_x    0.094598
d02_x    0.092148
age_y    0.059857
job_y    0.059465
age_x    0.054540
dtype: float64

In [171]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, roc_auc_score

from xgboost import XGBClassifier

import warnings
warnings.filterwarnings('ignore', category=UserWarning)

X = df_model_base.drop(['churn'], axis=1)
y = df_model_base['churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

print("=" * 20, "XGBoost 모델", "=" * 20)
xgb = XGBClassifier(
    n_estimators=100,
    max_depth=10,
    learning_rate=0.01,
    random_state=42
)

xgb.fit(X_train_scaled, y_train)

# Train Set 평가
y_pred_train_xgb = xgb.predict(X_train_scaled)
print("===== XGBoost - Train Set Evaluation =====")
print(classification_report(y_train, y_pred_train_xgb))

# Test Set 평가
y_pred_test_xgb = xgb.predict(X_test_scaled)
y_pred_proba_test_xgb = xgb.predict_proba(X_test_scaled)[:, 1]

print("\n===== XGBoost - Test Set Evaluation =====")
print("Classification Report:")
print(classification_report(y_test, y_pred_test_xgb))
print(f"ROC AUC Score: {roc_auc_score(y_test, y_pred_proba_test_xgb):.4f}")

==================== XGBoost 모델 ====================
===== XGBoost - Train Set Evaluation =====
              precision    recall  f1-score   support

           0       0.97      0.42      0.59       492
           1       0.73      0.99      0.84       792

    accuracy                           0.77      1284
   macro avg       0.85      0.71      0.72      1284
weighted avg       0.83      0.77      0.75      1284


===== XGBoost - Test Set Evaluation =====
Classification Report:
              precision    recall  f1-score   support

           0       0.47      0.13      0.21       164
           1       0.63      0.91      0.74       264

    accuracy                           0.61       428
   macro avg       0.55      0.52      0.47       428
weighted avg       0.57      0.61      0.54       428

ROC AUC Score: 0.6129

In [176]:
df_final.columns

Index(['pid', 'age_x', 'school_x', 'mar_x', 'job_x', 'income_x', 'relig_x',
       'd01_x', 'd02_x', 'd03_x', 'd04_x', 'churn', 'age_y', 'gender_y',
       'school_y', 'mar_y', 'job_y', 'income_y', 'relig_y', 'd01_y', 'd02_y',
       'd03_y', 'd04_y'],
      dtype='object')

In [184]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score, precision_recall_curve
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore', category=UserWarning)

# ===== 1) 데이터 =====
X = df_final.drop(['churn','pid'], axis=1)
y = df_final['churn'].astype(int)

# (핵심) object/category → 원-핫 인코딩 (트리에 스케일 필요 없음)
obj_cols = X.select_dtypes(include=['object','category']).columns.tolist()
if len(obj_cols):
    X = pd.get_dummies(X, columns=obj_cols, drop_first=True)

# 0-분산 컬럼 제거(모델 분할 방해)
zero_var = X.columns[X.nunique(dropna=False) <= 1]
if len(zero_var):
    X = X.drop(columns=zero_var)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, random_state=42
)

print(f"[X shape] train={X_train.shape}, test={X_test.shape}")
print(f"[zero-var removed] {list(zero_var)}")

print("=" * 20, "Random Forest 모델", "=" * 20)

rf = RandomForestClassifier(
    n_estimators=200,
    max_depth=4,
    min_samples_leaf=10,   # 30 → 12 (데이터 75개 기준 너무 컸음)
    min_samples_split=24,  # 300 → 24 (분할 가능하게 낮춤)
    max_features='sqrt',
    class_weight='balanced',
    oob_score=True,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train, y_train)

# ===== 3) 평가 =====
proba_tr = rf.predict_proba(X_train)[:, 1]
proba_te = rf.predict_proba(X_test)[:, 1]
pred_tr  = (proba_tr >= 0.5).astype(int)
pred_te  = (proba_te >= 0.5).astype(int)

print("===== Random Forest - Train Set Evaluation =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Random Forest - Test Set Evaluation (thr=0.5) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_test, proba_te):.4f}")

# ===== 4) 확률 진단(왜 0.5만 나오는지 확인) =====
print("\n[proba stats] train min/max/unique_cnt:",
      np.min(proba_tr), np.max(proba_tr), len(np.unique(proba_tr)))
print("[proba stats] test  min/max/unique_cnt:",
      np.min(proba_te), np.max(proba_te), len(np.unique(proba_te)))

# ===== 5) 임계값 튜닝 (원하던 0.7 이상 기준 체크용) =====
from sklearn.metrics import f1_score
p, r, thr = precision_recall_curve(y_test, proba_te)
f1 = 2*p*r/(p+r+1e-12)
best_thr = thr[np.argmax(f1)] if len(thr) else 0.5
pred_te_best = (proba_te >= best_thr).astype(int)
print(f"\n===== Threshold Tuning =====\nBest thr={best_thr:.3f}")
print(classification_report(y_test, pred_te_best, digits=3))

[X shape] train=(1284, 40), test=(428, 40)
[zero-var removed] []
==================== Random Forest 모델 ====================
===== Random Forest - Train Set Evaluation =====
              precision    recall  f1-score   support

           0      0.471     0.913     0.621       492
           1      0.870     0.362     0.512       792

    accuracy                          0.573      1284
   macro avg      0.670     0.637     0.566      1284
weighted avg      0.717     0.573     0.554      1284

ROC AUC Score: 0.7358

===== Random Forest - Test Set Evaluation (thr=0.5) =====
              precision    recall  f1-score   support

           0      0.442     0.829     0.576       164
           1      0.767     0.348     0.479       264

    accuracy                          0.533       428
   macro avg      0.604     0.589     0.528       428
weighted avg      0.642     0.533     0.516       428

ROC AUC Score: 0.6635

[proba stats] train min/max/unique_cnt: 0.2957526683380472 0.9674132344651036 1282
[proba stats] test  min/max/unique_cnt: 0.3170328899999651 0.9656996638988384 428

===== Threshold Tuning =====
Best thr=0.390
              precision    recall  f1-score   support

           0      0.800     0.073     0.134       164
           1      0.632     0.989     0.771       264

    accuracy                          0.638       428
   macro avg      0.716     0.531     0.453       428
weighted avg      0.696     0.638     0.527       428

In [175]:
importances = pd.Series(rf.feature_importances_, index=X_train.columns).sort_values(ascending=False)
print(importances)

d01_y        0.262139
d04_y        0.182772
d03_y        0.173240
d02_y        0.133279
d04_x        0.050203
income_x     0.031253
d03_x        0.028675
d02_x        0.019661
job_y_2      0.019125
school_x     0.016351
school_y     0.012844
income_y     0.012545
relig_x_1    0.007786
gender_y     0.007413
age_y        0.006417
age_x        0.004921
d01_x        0.004435
job_y_5      0.003529
relig_x_2    0.003524
job_y_4      0.003377
job_y_7      0.003354
job_x_2      0.003235
mar_x        0.003105
relig_y_1    0.002498
relig_y_2    0.002207
relig_y_3    0.001107
job_x_5      0.000642
mar_y        0.000184
job_x_7      0.000154
relig_x_3    0.000029
job_x_3      0.000000
job_x_4      0.000000
job_x_6      0.000000
relig_x_9    0.000000
relig_x_5    0.000000
relig_x_7    0.000000
job_y_3      0.000000
job_y_6      0.000000
relig_y_4    0.000000
relig_y_5    0.000000
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
import warnings
warnings.filterwarnings('ignore', category=UserWarning)

# ===== 1) 데이터 =====
X = df_final.drop(['churn','pid'], axis=1)
y = df_final['churn'].astype(int)

# object/category → 원-핫 인코딩
obj_cols = X.select_dtypes(include=['object','category']).columns.tolist()
if len(obj_cols):
    X = pd.get_dummies(X, columns=obj_cols, drop_first=True)

# 0-분산 컬럼 제거
zero_var = X.columns[X.nunique(dropna=False) <= 1]
if len(zero_var):
    X = X.drop(columns=zero_var)

# train/test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, random_state=42
)

# ===== 2) SMOTE로 학습 데이터 오버샘플링 =====
smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

# ===== 3) 모델 =====
rf = RandomForestClassifier(
    n_estimators=300,
    max_depth=5,
    min_samples_leaf=15,
    min_samples_split=30,
    max_features='sqrt',
    class_weight=None,
    oob_score=True,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train_res, y_train_res)

# ===== 4) 평가 =====
proba_tr = rf.predict_proba(X_train)[:, 1]
proba_te = rf.predict_proba(X_test)[:, 1]
pred_tr  = (proba_tr >= 0.5).astype(int)
pred_te  = (proba_te >= 0.5).astype(int)

print("===== Train Set Evaluation =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Test Set Evaluation (thr=0.5) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_test, proba_te):.4f}")

===== Train Set Evaluation =====
              precision    recall  f1-score   support

           0      0.491     0.807     0.610       492
           1      0.800     0.480     0.600       792

    accuracy                          0.605      1284
   macro avg      0.645     0.643     0.605      1284
weighted avg      0.681     0.605     0.604      1284

ROC AUC Score: 0.7148

===== Test Set Evaluation (thr=0.5) =====
              precision    recall  f1-score   support

           0      0.481     0.793     0.599       164
           1      0.785     0.470     0.588       264

    accuracy                          0.593       428
   macro avg      0.633     0.631     0.593       428
weighted avg      0.669     0.593     0.592       428

ROC AUC Score: 0.6640

In [243]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
import warnings
warnings.filterwarnings('ignore', category=UserWarning)

# ===== 1) 데이터 =====
X = df_final.drop(['churn','pid'], axis=1)
y = df_final['churn'].astype(int)

# object/category → 원-핫 인코딩
obj_cols = X.select_dtypes(include=['object','category']).columns.tolist()
if len(obj_cols):
    X = pd.get_dummies(X, columns=obj_cols, drop_first=True)

# 0-분산 컬럼 제거
zero_var = X.columns[X.nunique(dropna=False) <= 1]
if len(zero_var):
    X = X.drop(columns=zero_var)

# train/test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, random_state=42
)

# ===== 2) SMOTE로 학습 데이터 오버샘플링 =====
smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

# ===== 3) 모델 =====
rf = RandomForestClassifier(
    n_estimators=300,
    max_depth=5,
    min_samples_leaf=5,
    min_samples_split=30,
    max_features='sqrt',
    class_weight=None,
    oob_score=True,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train_res, y_train_res)

# ===== 4) 평가 =====
proba_tr = rf.predict_proba(X_train)[:, 1]
proba_te = rf.predict_proba(X_test)[:, 1]
pred_tr  = (proba_tr >= 0.5).astype(int)
pred_te  = (proba_te >= 0.5).astype(int)

print("===== Train Set Evaluation =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Test Set Evaluation (thr=0.5) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_test, proba_te):.4f}")

===== Train Set Evaluation =====
              precision    recall  f1-score   support

           0      0.520     0.805     0.632       492
           1      0.816     0.538     0.648       792

    accuracy                          0.640      1284
   macro avg      0.668     0.671     0.640      1284
weighted avg      0.703     0.640     0.642      1284

ROC AUC Score: 0.7524

===== Test Set Evaluation (thr=0.5) =====
              precision    recall  f1-score   support

           0      0.486     0.744     0.588       164
           1      0.763     0.511     0.612       264

    accuracy                          0.600       428
   macro avg      0.624     0.628     0.600       428
weighted avg      0.657     0.600     0.603       428

ROC AUC Score: 0.6724

In [256]:
df_final.columns

Index(['pid', 'age_x', 'school_x', 'mar_x', 'job_x', 'income_x', 'relig_x',
       'd01_x', 'd02_x', 'd03_x', 'd04_x', 'churn', 'age_y', 'gender_y',
       'school_y', 'mar_y', 'job_y', 'income_y', 'relig_y', 'd01_y', 'd02_y',
       'd03_y', 'd04_y'],
      dtype='object')

In [255]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
import warnings
warnings.filterwarnings('ignore', category=UserWarning)

# ===== 1) 데이터 =====
X = df_final.drop(['churn','pid'], axis=1)
y = df_final['churn'].astype(int)

# object/category → 원-핫 인코딩
obj_cols = X.select_dtypes(include=['object','category']).columns.tolist()
if len(obj_cols):
    X = pd.get_dummies(X, columns=obj_cols, drop_first=True)

# 0-분산 컬럼 제거
zero_var = X.columns[X.nunique(dropna=False) <= 1]
if len(zero_var):
    X = X.drop(columns=zero_var)

# train/test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, random_state=42
)

# ===== 2) SMOTE로 학습 데이터 오버샘플링 =====
smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

# ===== 3) 모델 =====
rf = RandomForestClassifier(
    n_estimators=300,
    max_depth=5,
    min_samples_leaf=7,
    min_samples_split=50,
    max_features='sqrt',
    class_weight=None,
    oob_score=True,
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train_res, y_train_res)

# ===== 4) 평가 =====
proba_tr = rf.predict_proba(X_train)[:, 1]
proba_te = rf.predict_proba(X_test)[:, 1]
pred_tr  = (proba_tr >= 0.5).astype(int)
pred_te  = (proba_te >= 0.5).astype(int)

print("===== Train Set Evaluation =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Test Set Evaluation (thr=0.5) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_test, proba_te):.4f}")

===== Train Set Evaluation =====
              precision    recall  f1-score   support

           0      0.512     0.801     0.625       492
           1      0.810     0.527     0.638       792

    accuracy                          0.632      1284
   macro avg      0.661     0.664     0.632      1284
weighted avg      0.696     0.632     0.633      1284

ROC AUC Score: 0.7413

===== Test Set Evaluation (thr=0.5) =====
              precision    recall  f1-score   support

           0      0.486     0.732     0.584       164
           1      0.757     0.519     0.616       264

    accuracy                          0.600       428
   macro avg      0.621     0.625     0.600       428
weighted avg      0.653     0.600     0.604       428

ROC AUC Score: 0.6747

In [226]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, roc_auc_score

# ===== 모델 (성능 향상 버전) =====
dt = DecisionTreeClassifier(
    criterion='gini',      # 기본 지니 불순도 (entropy로 바꿔 테스트 가능)
    max_depth=10,        # 깊이 제한 해제 → 더 복잡한 패턴 학습 가능
    min_samples_split=20,   # 분할 최소 샘플 수 완화
    min_samples_leaf=10,    # 리프 최소 샘플 수 완화
    max_features=None,     # 모든 특성 고려
    class_weight=None,     # 불균형 심하면 'balanced'
    random_state=42
)

dt.fit(X_train_res, y_train_res)

# ===== 평가 =====
proba_tr = dt.predict_proba(X_train)[:, 1]
proba_te = dt.predict_proba(X_test)[:, 1]
pred_tr  = (proba_tr >= 0.5).astype(int)
pred_te  = (proba_te >= 0.5).astype(int)

print("===== Train Set Evaluation (DecisionTree) =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Test Set Evaluation (DecisionTree, thr=0.5) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_test, proba_te):.4f}")

===== Train Set Evaluation (DecisionTree) =====
              precision    recall  f1-score   support

           0      0.622     0.652     0.637       492
           1      0.777     0.754     0.765       792

    accuracy                          0.715      1284
   macro avg      0.700     0.703     0.701      1284
weighted avg      0.718     0.715     0.716      1284

ROC AUC Score: 0.7837

===== Test Set Evaluation (DecisionTree, thr=0.5) =====
              precision    recall  f1-score   support

           0      0.361     0.341     0.351       164
           1      0.604     0.625     0.615       264

    accuracy                          0.516       428
   macro avg      0.483     0.483     0.483       428
weighted avg      0.511     0.516     0.514       428

ROC AUC Score: 0.4972

In [227]:
import numpy as np
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.metrics import classification_report, roc_auc_score, roc_curve

# ===== 1) 파이프라인 (CV 안에서 SMOTE 적용) =====
pipe = Pipeline(steps=[
    ("smote", SMOTE(random_state=42)),
    ("clf", DecisionTreeClassifier(random_state=42))
])

param_grid = {
    "clf__criterion": ["gini", "entropy", "log_loss"],  # log_loss는 확률 보정에 유리한 경우 있음
    "clf__max_depth": [6, 10, 14, None],
    "clf__min_samples_split": [5, 10, 20, 40],
    "clf__min_samples_leaf": [3, 5, 10, 20],
    "clf__max_features": [None, "sqrt", "log2"],
    # 가지치기(비용-복잡도) 계수도 함께 탐색
    "clf__ccp_alpha": [0.0, 1e-5, 5e-5, 1e-4, 5e-4, 1e-3]
}

cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

gs = GridSearchCV(
    estimator=pipe,
    param_grid=param_grid,
    scoring="roc_auc",      # 불균형에 강한 AUC 기준
    cv=cv,
    n_jobs=-1,
    verbose=0
)

gs.fit(X_train, y_train)
best_model = gs.best_estimator_
print("Best AUC (CV):", gs.best_score_)
print("Best Params:", gs.best_params_)

# ===== 2) 임계값 최적화 (Youden's J: TPR - FPR 최대) =====
proba_tr = best_model.predict_proba(X_train)[:, 1]
fpr, tpr, thresholds = roc_curve(y_train, proba_tr)
youden_j = tpr - fpr
best_thr = thresholds[np.argmax(youden_j)]
print(f"Best threshold (Youden J): {best_thr:.3f}")

# ===== 3) 최종 평가 (Train/Test) =====
proba_tr = best_model.predict_proba(X_train)[:, 1]
proba_te = best_model.predict_proba(X_test)[:, 1]
pred_tr  = (proba_tr >= best_thr).astype(int)
pred_te  = (proba_te >= best_thr).astype(int)

print("\n===== Train Set (DecisionTree + SMOTE-CV + Pruning) =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Test Set (threshold tuned) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC: {roc_auc_score(y_test, proba_te):.4f}")

Best AUC (CV): 0.5880563628712661
Best Params: {'clf__ccp_alpha': 0.0, 'clf__criterion': 'entropy', 'clf__max_depth': None, 'clf__max_features': None, 'clf__min_samples_leaf': 3, 'clf__min_samples_split': 20}
Best threshold (Youden J): 0.526

===== Train Set (DecisionTree + SMOTE-CV + Pruning) =====
              precision    recall  f1-score   support

           0      0.704     0.778     0.739       492
           1      0.853     0.797     0.824       792

    accuracy                          0.790      1284
   macro avg      0.778     0.788     0.782      1284
weighted avg      0.796     0.790     0.791      1284

ROC AUC: 0.8724

===== Test Set (threshold tuned) =====
              precision    recall  f1-score   support

           0      0.372     0.427     0.398       164
           1      0.608     0.553     0.579       264

    accuracy                          0.505       428
   macro avg      0.490     0.490     0.489       428
weighted avg      0.518     0.505     0.510       428

ROC AUC: 0.4988

In [202]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, roc_auc_score

X = df_model_base.drop(['churn'], axis=1)
y = df_model_base['churn'].astype(int)

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled  = scaler.transform(X_test)

# ===== 3) 모델 =====
xgb = XGBClassifier(
    n_estimators=1000,
    max_depth=2,
    learning_rate=0.01,
    subsample=0.8,
    colsample_bytree=0.8,
    reg_alpha=0.0,
    reg_lambda=1.0,
    objective='binary:logistic',
    eval_metric='auc',
    tree_method='hist',
    random_state=42,
    n_jobs=-1
)

# (fix) 정의 안 된 X_train_res/y_train_res 대신 스케일된 학습데이터 사용
xgb.fit(X_train_scaled, y_train)

# ===== 4) 평가 =====
proba_tr = xgb.predict_proba(X_train_scaled)[:, 1]
proba_te = xgb.predict_proba(X_test_scaled)[:, 1]
pred_tr  = (proba_tr >= 0.5).astype(int)
pred_te  = (proba_te >= 0.5).astype(int)

print("===== Train Set Evaluation =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Test Set Evaluation (thr=0.5) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_test, proba_te):.4f}")

===== Train Set Evaluation =====
              precision    recall  f1-score   support

           0      0.753     0.291     0.419       492
           1      0.681     0.941     0.790       792

    accuracy                          0.692      1284
   macro avg      0.717     0.616     0.605      1284
weighted avg      0.708     0.692     0.648      1284

ROC AUC Score: 0.7512

===== Test Set Evaluation (thr=0.5) =====
              precision    recall  f1-score   support

           0      0.542     0.159     0.245       164
           1      0.637     0.917     0.752       264

    accuracy                          0.626       428
   macro avg      0.589     0.538     0.498       428
weighted avg      0.600     0.626     0.558       428

ROC AUC Score: 0.5754

In [206]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score
from imblearn.over_sampling import SMOTE
import pandas as pd
import numpy as np

# 1) 데이터
X = df_model_base.drop(['churn'], axis=1)
y = df_model_base['churn'].astype(int)

# object 타입 → 원-핫 인코딩
obj_cols = X.select_dtypes(include=['object']).columns
if len(obj_cols):
    X = pd.get_dummies(X, columns=obj_cols, drop_first=True)

# 2) 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, random_state=42
)

# 3) SMOTE 오버샘플링
smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

# 4) 모델
xgb = XGBClassifier(
    n_estimators=600,
    max_depth=4,
    learning_rate=0.03,
    subsample=0.8,
    colsample_bytree=0.8,
    reg_alpha=0.0,
    reg_lambda=1.0,
    objective='binary:logistic',
    eval_metric='auc',
    tree_method='hist',
    random_state=42,
    n_jobs=-1
)

xgb.fit(X_train_res, y_train_res)

# 5) 평가
proba_tr = xgb.predict_proba(X_train)[:, 1]
proba_te = xgb.predict_proba(X_test)[:, 1]
pred_tr  = (proba_tr >= 0.5).astype(int)
pred_te  = (proba_te >= 0.5).astype(int)

print("===== Train Set Evaluation =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Test Set Evaluation (thr=0.5) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_test, proba_te):.4f}")

===== Train Set Evaluation =====
              precision    recall  f1-score   support

           0      0.820     0.787     0.803       492
           1      0.871     0.893     0.882       792

    accuracy                          0.852      1284
   macro avg      0.845     0.840     0.842      1284
weighted avg      0.851     0.852     0.851      1284

ROC AUC Score: 0.9321

===== Test Set Evaluation (thr=0.5) =====
              precision    recall  f1-score   support

           0      0.430     0.354     0.388       164
           1      0.638     0.708     0.671       264

    accuracy                          0.572       428
   macro avg      0.534     0.531     0.530       428
weighted avg      0.558     0.572     0.563       428

ROC AUC Score: 0.5716

In [212]:
from lightgbm import LGBMClassifier, early_stopping
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, roc_auc_score
from imblearn.over_sampling import SMOTE
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore', category=UserWarning)

# ===== 데이터 준비 =====
X = df_model_base.drop(['churn'], axis=1)
y = df_model_base['churn'].astype(int)

obj_cols = X.select_dtypes(include=['object']).columns
if len(obj_cols):
    X = pd.get_dummies(X, columns=obj_cols, drop_first=True)

zero_var = X.columns[X.nunique(dropna=False) <= 1]
if len(zero_var):
    X = X.drop(columns=zero_var)

X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, random_state=42
)

# ===== SMOTE =====
smote = SMOTE(random_state=42)
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

# ===== LightGBM 모델 =====
lgbm = LGBMClassifier(
    n_estimators=500,
    learning_rate=0.07,
    max_depth=5,
    num_leaves=20,
    min_child_samples=50,
    reg_alpha=0.1,
    reg_lambda=0.3,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42,
    n_jobs=-1
)

# ===== 학습 (callback 방식 early stopping) =====
lgbm.fit(
    X_train_res, y_train_res,
    eval_set=[(X_test, y_test)],
    eval_metric='auc',
    callbacks=[early_stopping(stopping_rounds=50)]
)

# ===== 평가 =====
proba_tr = lgbm.predict_proba(X_train)[:, 1]
proba_te = lgbm.predict_proba(X_test)[:, 1]
pred_tr  = (proba_tr >= 0.5).astype(int)
pred_te  = (proba_te >= 0.5).astype(int)

print("===== Train Set Evaluation =====")
print(classification_report(y_train, pred_tr, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_train, proba_tr):.4f}")

print("\n===== Test Set Evaluation (thr=0.5) =====")
print(classification_report(y_test, pred_te, digits=3))
print(f"ROC AUC Score: {roc_auc_score(y_test, proba_te):.4f}")

[LightGBM] [Info] Number of positive: 792, number of negative: 792
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000179 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 339
[LightGBM] [Info] Number of data points in the train set: 1584, number of used features: 17
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.500000 -> initscore=0.000000
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
Training until validation scores don't improve for 50 rounds
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
Early stopping, best iteration is:
[1]	valid_0's auc: 0.571843	valid_0's binary_logloss: 0.68965
===== Train Set Evaluation =====
              precision    recall  f1-score   support

           0      0.466     0.555     0.506       492
           1      0.686     0.605     0.643       792

    accuracy                          0.586      1284
   macro avg      0.576     0.580     0.575      1284
weighted avg      0.602     0.586     0.591      1284

ROC AUC Score: 0.6091

===== Test Set Evaluation (thr=0.5) =====
              precision    recall  f1-score   support

           0      0.461     0.463     0.462       164
           1      0.665     0.663     0.664       264

    accuracy                          0.586       428
   macro avg      0.563     0.563     0.563       428
weighted avg      0.587     0.586     0.587       428

ROC AUC Score: 0.5718